.blog_header {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.152), #000),
    url('./images/3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  color: #fff;
  padding: 50px;
}
.blog_header h1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: 300;
}
.blog_header p {
  color: #bbb;
  font-size: 20px;
  line-height: 30px;
}
@media screen and (max-width: 600px) {
  .blog_header {
    padding: 50px 20px 20px 20px;
  }
  .blog_header h1 {
    font-size: 30px;
  }
  .blog_header p {
    font-size: 15px;
  }
}
/*----------news-------------*/

.blog_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 50px;
}
.blog_wrap .blog_left {
  width: 65%;
}
.blog_wrap .blog_left .card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.blog_wrap .blog_left .card .card_left {
  width: 45%;
}
.blog_wrap .blog_left .card .card_left img {
  width: 100%;
  height: 100%;
}
.blog_wrap .blog_left .card .card_right {
  width: 50%;
}
.blog_wrap .blog_left .card .card_right a{
 text-decoration: none;
 color: #000;
}
.blog_wrap .blog_left .card .card_right h1 {
  font-size: 25px;
  font-weight: 100;
  padding-bottom: 10px;
}
.blog_wrap .blog_left .card .card_right p {
  padding-bottom: 10px;
  font-size: 15px;
}
.blog_wrap .blog_left .card .card_right .lap {
  display: flex;
  padding: 5px;
}
.blog_wrap .blog_left .card .card_right .lap img {
  width: 20px;
  padding-right: 5px;
}
.blog_wrap .blog_left .card .card_right .lap a {
  text-decoration: none;
  color: rgb(146, 12, 39);
}
.blog_wrap .blog_right {
  width: 25%;
  padding-left: 50px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 7%);
  background: #fff;
  padding: 40px;
  border: 1px solid #eee;
}
.blog_wrap .blog_right .archive{
 padding-bottom: 30px;
}
.blog_wrap .blog_right .bright_card{
 padding: 20px 0px;
}
.blog_wrap .blog_right .bright_card a{
 text-decoration: none;
 color: #000;
}
@media screen and (max-width: 1000px) {
 .blog_wrap .blog_left {
  width: 100%;
}
 .blog_wrap .blog_right {
  width: 100%;
  text-align: center;
}
}
@media screen and (max-width: 800px){
 .blog_wrap{
  padding: 50px 20px;
 }
.blog_wrap .blog_left .card .card_left {
  width: 100%;
}
.blog_wrap .blog_left .card .card_right {
  width: 100%;
}
}